<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.dali.hotel.dao.RoomMapper">
    <resultMap id="roomMapper" type="edu.dali.hotel.model.Room">
        <id column="id" property="id"></id>
        <result column="room_name" property="roomName"></result>
        <result column="food" property="food"></result>
        <result column="room_type" property="roomType"></result>
        <result column="internet" property="internet"></result>
        <result column="room_price" property="roomPrice"></result>
        <result column="booking_price" property="bookingPrice"></result>
    </resultMap>
    <select id="getRoomList" resultMap="roomMapper">
        select * from tbl_room
    </select>

    <select id="getRoomById" resultMap="roomMapper">
        select * from tbl_room where id = #{id}
    </select>

    <select id="searchRoomByName" resultMap="roomMapper" parameterType="String">
        select * from tbl_room where room_name = #{roomName}
    </select>

    <update id="update" parameterType="edu.dali.hotel.model.Room">
        update tbl_room
        <set>
            <if test="roomName != null">
                room_name = #{roomName},
            </if>
            <if test="food != null">
                food = #{food},
            </if>
            <if test="roomType != null">
                room_type = #{roomType},
            </if>
            <if test="internet != null">
                internet = #{internet},
            </if>
            <if test="roomPrice != null">
                room_price = #{roomPrice},
            </if>
            <if test="bookingPrice != null">
                booking_price = #{bookingPrice},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="addRoom" parameterType="edu.dali.hotel.model.Room">
        insert into tbl_room(room_name, food, room_type, internet, room_price, booking_price)
        values (#{roomName}, #{food}, #{roomType}, #{internet}, #{roomPrice}, #{bookingPrice})
    </insert>

    <delete id="deleteRoom">
        delete from tbl_room where id = #{id}
    </delete>

</mapper>